<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />
<!--
	=====================
		Templates/Cleanteam/Cleanteamview.html
-->

<f:section name="content">
	<div class="showhierachy-view-form">
<DIV CLASS="ministrytree">
	<div class="row justify-content-end">
	</div>
	<div class="form-row">
    	<div class="form-group col-6">
			<input placeholder="Welke bediening, taak of persoon zoek je?" class="form-control" id="zoekarg" title="geef deel van naam van bediening, taak of persoon')}" type="text" name="">
	    </div>
		<button class="btn-link text-primary border-0 bg-white" title="Zoek bediening, taak of persoon" onclick="zoek(startafd);" type="submit" name="" value="">
			<svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  			<path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"></path>
  			<path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"></path>
			</svg>
		</button>

		<f:if condition="{return}">
			<f:form action="{return}" name="search" controller="{retcontroller}" extensionName="{retextensionName}" pluginName="{retpluginName}" pageUid="{retpageUid}" id="returnForm">
			<f:form.hidden id="stack" name="stack" value="{stack}"/>
			<f:form.button  class="btn btn-primary" >{f:translate(key:"return_button_label")}</f:form.button>
			</f:form>
		</f:if>
	</div>

</DIV>

<script type="text/javascript">
	$ = jQuery.noConflict();
	var	selectid="{select}";
		tx_ministry_submit(0,'viewMinistryTree');
</script>
	<DIV ID="errorBox" STYLE='color:red;'></DIV>
	<DIV CLASS="ministryedit border-primary ml-sm-5 mt-sm-n2 draggable" ID="ministryeditview"></DIV>
	<div id="ministryeIDResult"></div>
<script language="JavaScript">
$ = jQuery.noConflict();

$.expr[':'].icontains = function(a, i, m) {
	  return jQuery(a).text().toUpperCase()
	      .indexOf(m[3].toUpperCase()) >= 0;
	};
function zoek(start)
{	// reset vorige gevonden;
	// reset colors:
	$('span[id$="_drop"]').removeAttr("style");
	// implode all:
	$("span.min:not([id^='1_'])").each(function(){
		aid=$(this).attr("id").split('_');
		oid=aid[0]+'_'+aid[1];
		toggle(oid);
	});
	var zoekconditie='';
	var azoekwoord=[];
	azoekwoord=$("#zoekarg").val().toLowerCase().trim().split(" ");
	$.each(azoekwoord,function(index,value){
		zoekconditie+=':icontains("'+value+'")';
	});
	gevonden=false;
	// mark found  and explode parents:
	$('span[id$="_drop"]'+zoekconditie).each(function(){
		gevonden=true;
		$(this).css("background-color", "yellow");
		$(this).parents("ul").each(function(){
			toggle($(this).attr("id"),true);
		})			
	});
	if (!gevonden) alert("niets gevonden");
} 

$("div#ministryeIDResult").on('click','.min, .plus',function(){
  aid=$(this).attr("id").split("_");
  oid=aid[0]+"_"+aid[1];
 // alert("click on "+oid);
  toggle(oid);
});

$("div#ministryeIDResult").on('click','.open, .closed, .blueopen, .blueclosed, .taak, .mdw,.ct,.ctxtbd,.ctxttk',function(){
  aid=$(this).attr("id").split("_");
  oid=aid[0]+"_"+aid[1];
  if (aid[1]=='a' || aid[1]=='b') action='editMinistry';
  else if(aid[1]=='t') action='editTask';
  else action='editWorker';
  if ($("#"+oid+"_li").attr("draggable") ) eigen=1; else eigen=0;
  //alert("click oid:"+oid+"; action:"+action+"; eigen:"+eigen);
  tx_ministry_submit(oid,action,eigen);	  
});


</script>	
</f:section>
</html>