<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />

<f:section name="content">
	<div class="clearfix">
		<div style="float:left"><h3>
		<f:if condition="{ministry.uid}">
		<f:then>Bediening wijzigen
		</f:then>
		<f:else>
		Bediening toevoegen
		</f:else>
		</f:if></h3>
		</div>
		<div class="btn text-align-top float-right" onClick="tx_ministry_editsubmit('{ministryuid}', 'cancelMinistry');" title="Sluiten">
			<svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-x" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
	  		<path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
			</svg>
		</div>
	</div>
<DIV ID="errorBoxMinistry" CLASS="bodytext errormessage"></DIV>
<DIV CLASS="ministryview">
<f:if condition="{ministry.uid} && {editpermission}">
	<!-- ###MINISTRYEDITBUTTONS### begin -->
	<f:then>
		<div>
			<button class="btn btn-primary mr-1" onclick="tx_ministry_editsubmit('{ministryuid}','saveMinistry');" type="submit" name="" value="">Bewaren</button>
			<button class="btn btn-primary" onclick="tx_ministry_editsubmit('{ministryuid}', 'cancelMinistry');" type="submit" name="" value="">Annuleren</button>
			<button class="btn btn-primary float-right" onclick="tx_ministry_editsubmit('{ministryuid}', 'deleteMinistry');" type="submit" name="" value="">Verwijderen</button>
		</div>
		<div>
			<form method="post" class="mt-1" name="search" id="searchpers" action="{pagemailen}?tx_churchpersreg_persoonemail%5Baction%5D=email&amp;tx_churchpersreg_persoon%5Bcontroller%5D=Persoon">
	        <input type="hidden" name="tx_churchpersreg_persoon[ministryid]" value="{ministryuid}" />
			<input type="hidden" name="tx_churchpersreg_persoon[stack]" value="{stack}"/>
			<button class="btn btn-primary mt-1 float-right" type="submit" name="" title="Medewerkers mailen" value="">Email</button>		
			</form>	
		<f:if condition="{ministry.soort}=='afdeling'">
			<f:then>
			<button class="btn btn-primary mt-1" onclick="tx_ministry_editsubmit('{ministryuid}', 'addMinistry');" type="submit" name="" value="">Bediening toevoegen</button>
			</f:then>
		<f:else>
			<button class="btn btn-primary mt-1" onclick="tx_ministry_editsubmit('{ministryuid}', 'addTask');" type="submit" name="" value="">Taak toevoegen</button>
		</f:else>
		</f:if>
		</div>
	</f:then>
</f:if>
<f:if condition="{ministry.uid} && !{editpermission} && {eigenbediening}">
	<f:then>
		<div class="row ml-1">
			<form method="post"  name="search" id="searchpers" action="{pagemailen}?tx_churchpersreg_persoonemail%5Baction%5D=email&amp;tx_churchpersreg_persoon%5Bcontroller%5D=Persoon">
	        <input type="hidden" name="tx_churchpersreg_persoon[ministryid]" value="{ministryuid}" />
			<input type="hidden" name="tx_churchpersreg_persoon[stack]" value="{stack}"/>
			<button class="btn btn-primary mt-1 float-right" type="submit" name="" title="Medewerkers mailen" value="">Email</button>		
			</form>	
		</div>
	</f:then>
</f:if>

<f:if condition="{ministry.uid}">
	<f:then></f:then>
<f:else>
		<div>
			<button class="btn btn-primary mr-1" onclick="tx_ministry_editsubmit('{parentuid}', 'savenewMinistry');" type="submit" name="" value="">Bewaren</button>
			<button class="btn btn-primary" onclick="tx_ministry_editsubmit('', 'cancelMinistry');" type="submit" name="" value="">Annuleren</button>
		</div>
</f:else>
</f:if>
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a href="#general" class="nav-link active" data-toggle="tab">Algemeen</a>
    </li>
    <li class="nav-item">
        <a href="#vision" class="nav-link" data-toggle="tab">Visie</a>
    </li>
    <li class="nav-item">
        <a href="#plan" class="nav-link" data-toggle="tab">Plan</a>
    </li>
</ul>
<div class="tab-content">
    <div class="tab-pane fade show active" id="general">
		<div class="row">
			<div class="col-sm-4 mr-2"> 
				<label for="ministrydescription" class="font-weight-bold">Omschrijving:</label>
			</div>
			<div class="col"><input Name="ministrydescription" id="ministrydescription" class="form-control" type="text"  maxlenght=255 value="{ministry.omschrijving}" ></div>
		</div>
		<div class="row">
			<div class="col-sm-4 mr-2"> 
				<label for="parentdep" class="font-weight-bold">Valt onder afdeling:</label>
			</div>
			<div class="col" id="parentdep">{ministry.parentdepartment}</div>
		</div>
		<div class="row">
			<div class="col-sm-4 mr-2"> 
				<label for="persoonbedieningsleider" class="font-weight-bold">Verantwoordelijk:</label>
			</div>
			<div class="col"><input Name="persoonbedieningsleider" id="persoonbedieningsleider" class="selectperson form-control" type="text"  role="bedieningsleider" title="namen gescheiden door ','" maxlength=255 value="{ministry.bedieningsleiders}" >
				<input type=hidden name="idbedieningsleider" id="idbedieningsleider" Value="{ministry.id_bedieningsleider}">
				<input type=hidden name="namesbedieningsleider" id="namesbedieningsleider" Value='<f:format.case mode="lower">{ministry.bedieningsleiders}</f:format.case>'>
				<div class="zoekselect" id="bedieningsleiderselectdiv">
					<ul id="bedieningsleiderselectul">
					</ul>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4 mr-2"> 
				<label for="persoonsecretariaat" class="font-weight-bold">Secretariaat:</label>
			</div>
			<div class="col">
				<input NAME="persoonsecretariaat" id="persoonsecretariaat" class="selectperson form-control" role="secretariaat" type="text" title="namen gescheiden door ','" maxlength=255 value="{ministry.secretarissen}">			
				<input type=hidden name="idsecretariaat" id="idsecretariaat" Value="{ministry.id_secretarissen}">
				<input type=hidden name="namessecretariaat" id="namessecretariaat" Value='<f:format.case mode="lower">{ministry.secretarissen}</f:format.case>'>
				<div class="zoekselect" id="secretariaatselectdiv">
					<ul id="secretariaatselectul">
					</ul>
				</div>
			</div>
		</div>
		<div class="form-inline">
			<div class="form-group">
				<label for="soortafd" class="font-weight-bold mr-2">Soort:</label>
				<input id="soortafd" type="radio" name="soort" value="afdeling"><span class="mr-2">afdeling</span>
				<input id="soortbed" type="radio" name="soort" value="bediening" checked="checked">bediening
		    </div>
		</div>

	</div>

    <div class="tab-pane fade" id="vision">
		<div class="row">
			<div class="col-sm-4 mr-2"> 
				<label for="taakvisie" class="font-weight-bold">Taak en Visie:</label>
			</div>
			<div class="col">
				<textarea class="form-control" Name="taakvisie" id="taakvisie" rows=3 >{ministry.taakvisie}</textarea>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4 mr-2"> 
				<label for="toekomst" class="font-weight-bold">Toekomstperspectief:</label>
			</div>
			<div class="col">
				<textarea Name="toekomst" id="toekomst" rows=3  class="form-control">{ministry.toekomstverwachting}</textarea>
			</div>
		</div>
	</div>
    <div class="tab-pane fade" id="plan">
		<div class="row">
			<div class="col-sm-4 mr-2"> 
				<label for="planactiviteiten" class="font-weight-bold">Plan en activiteiten:</label>
			</div>
			<div class="col">
				<textarea Name="planactiviteiten" id="planactiviteiten" rows=3  class="form-control">{ministry.planactiviteiten}</textarea>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4 mr-2"> 
				<label for="volgendejaren" class="font-weight-bold">Plannen en ideeën voor volgende jaren:</label>
			</div>
			<div class="col">
				<textarea Name="volgendejaren" id="volgendejaren" rows=3  class="form-control">{ministry.volgendejaren}</textarea>
			</div>
		</div>
    </div>

</div>	
</DIV>
<f:render partial="Persoon/SearchPersonRole" arguments="{file: file}" />

</f:section>
</html>