<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />
<!--
	=====================
		Templates/view objects
-->

<f:section name="content">

<f:if condition="{eersteafd}"><DIV CLASS="ministrytreeview"></f:if>
	<f:render section="showMinistry" arguments="{ministrytree: ministrytree,settings:settings,bedieningEdit:bedieningEdit,exportpersons:exportpersons,real:0}" />
<f:if condition="{eersteafd}"></DIV></f:if>
<f:if condition="{eersteafd}">
<script type="text/javascript">
      $ = jQuery.noConflict();
startafd = "{eersteafd}";
      $("#"+startafd).css("display","block");
toggle(startafd);
      var el = document.getElementById(startafd); 
      el.addEventListener("dragstart", tDragStart, false); 
el.addEventListener("dragover", tDragOver, false); 
el.addEventListener("dragenter", tDragEnter, false); 
el.addEventListener("drop", tDrop, false);  
	if (selectid)
	{
		//alert("zoek: #"+selectid);
		sel=$("#"+selectid);
		//alert("gevonden:"+sel.attr("id"));
		sel.css("background-color", "yellow");
		sel.parents("ul").each(function(){
			toggle($(this).attr("id"),true);
		})
		selectid='';			
	}


</script>
</f:if>
</f:section>

<f:section name="showMinistry">
	<f:if condition="{real}">
		<li id="{ministrytree.uid}_{ministrytree.soortT}_li" {f:if(condition:'{ministrytree.uid}==1',then:'class="mb-5"')} {f:if(condition:'{bedieningEdit}||{ministrytree.eigen}',then:' draggable="true"')} >
			<div class="d-flex flex-row">
				<span id="{ministrytree.uid}_{ministrytree.soortT}_toggle" class="{f:if(condition:'{ministrytree.subministries}||{ministrytree.tasks}',then:'plus', else:'eind')}" >&nbsp;</span>
				<span id="{ministrytree.uid}_{ministrytree.soortT}_drag" {f:if(condition:'{ministrytree.eigen}',then:' eigen')} {f:if(condition:'{ministrytree.soort}=="afdeling"}}',then:' class="closed"', else:' class="blueclosed"')}>&nbsp;</span>
				<span id="{ministrytree.uid}_{ministrytree.soortT}_drop" {f:if(condition:'{exportpersons}||{ministrytree.eigen}',then:' class="ctxtbd"')} >{ministrytree.soort}:{ministrytree.omschrijving}</span>
			</div>
	</f:if>
		<ul class='hierarch' id="{ministrytree.uid}_{ministrytree.soortT}" {f:if(condition:'{real}',then:' style="display:none;"')} >
		<f:if condition="{ministrytree.subministries}">
			<f:for each="{ministrytree.subministries}" as="subministry">
				<f:render section="showMinistry" arguments="{ministrytree:subministry ,settings:settings,bedieningEdit:bedieningEdit,exportpersons:exportpersons,real:1}" />
			</f:for>
		</f:if>
		<f:if condition="{ministrytree.tasks}">
			<f:for each="{ministrytree.tasks}" as="task">
				<li id="{task.uid}_t_li" {f:if(condition:'{bedieningEdit}||{ministrytree.eigen}',then:' draggable="true"')} >
					<div class="d-flex flex-row">
						<span id="{task.uid}_t_toggle" class="{f:if(condition:'{task.workers}',then:'plus', else:'eind')}" >&nbsp;</span>
						<span id="{task.uid}_t_drag" {f:if(condition:'{ministrytree.eigen}',then:' eigen')} class="taak">&nbsp;</span>
						<span id="{task.uid}_t_drop" {f:if(condition:'{exportpersons}||{ministrytree.eigen}',then:' class="ctxttk"')} >taak:{task.omschrijving}</span>
					</div>
					<ul class='hierarch' id="{task.uid}_t" style='display:none;'>
					<f:if condition="{task.workers}">
						<f:for each="{task.workers}" as="worker">
							<li id="{worker.uid}_m_li" {f:if(condition:'{bedieningEdit}||{ministrytree.eigen}',then:' draggable="true"')} >
								<div class="d-flex flex-row">
									<span id="{worker.uid}_m_toggle" class="eind">&nbsp;</span>
									<span id="{worker.uid}_m_drag" {f:if(condition:'{ministrytree.eigen}',then:' eigen')} class="mdw">&nbsp;</span>
									<span id="{worker.uid}_m_drop" class="ct">medewerker:{worker.fullname}</span>
								</div>
							</li>
						</f:for>
					</f:if>
					</ul>
				</li>				
			</f:for>
		</f:if>
		</ul>
	<f:if condition="{real}">	
	</li>
	</f:if>
</f:section>

</html>