<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />

<f:section name="content">
	<div class="clearfix">
		<div style="float:left"><h3>
		<f:if condition="{coworker.uid}">
		<f:then>Medewerker wijzigen
		</f:then>
		<f:else>
		Medewerker toevoegen
		</f:else>
		</f:if></h3>
		</div>
		<div class="btn text-align-top float-right" onClick="tx_worker_editsubmit('{workeruid}', 'cancelWorker');" title="Sluiten">
			<svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-x" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
	  		<path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
			</svg>
		</div>
	</div>
<DIV ID="errorBoxworker" class="bodytext errormessage"></DIV>
<DIV class="workerview">
<f:if condition="{coworker.uid} && {editpermission}">
	<!-- ###taskEDITBUTTONS### begin -->
	<f:then>
		<div>
			<button class="btn btn-primary mr-1" onclick="tx_worker_editsubmit('{workeruid}','saveWorker');" type="submit" name="" value="">Bewaren</button>
			<button class="btn btn-primary" onclick="tx_worker_editsubmit('{workeruid}', 'cancelWorker');" type="submit" name="" value="">Annuleren</button>
			<button class="btn btn-primary float-right" onclick="tx_worker_editsubmit('{workeruid}', 'deleteWorker');" type="submit" name="" value="">Verwijderen</button>
		</div>
	</f:then>
</f:if>
<f:if condition="{coworker.uid}">
	<f:then></f:then>
<f:else>
		<div>
			<button class="btn btn-primary mr-1" onclick="tx_worker_editsubmit('{parentuid}','savenewWorker');" type="submit" name="" value="">Bewaren</button>
			<button class="btn btn-primary" onclick="tx_worker_editsubmit('', 'cancelWorker');" type="submit" name="" value="">Annuleren</button>
		</div>
</f:else>
</f:if>
	<div class="row">
		<div class="col-sm-4 mr-2"> 
			<label for="persoonworker" class="font-weight-bold">Naam:</label>
		</div>
		<div class="col">
		<input name="persoonworker" id="persoonworker" class="selectperson form-control" role="worker" type="text" maxlenght="70" value="{coworker.fullname}">
		<input type="hidden" name="idworker" id="idworker" value="{coworker.uidperson}">	
		<div class="zoekselect" id="workerselectdiv">
				<ul id="workerselectul">
				</ul>
		</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4 mr-2"> 
			<label for="parenttask" class="font-weight-bold">Taak:</label>
		</div>
		<div class="col" id="parenttask">{coworker.parenttaskname}</div>
	</div>
	<div class="row">
		<div class="col-sm-4 mr-2"> 
			<label for="startdate" class="font-weight-bold">Begonnen:</label>
		</div>
		<div class="col">
			<input min="{datemin}" max="{datemax}" id="startdate" type="date" name="startdate" value="<f:format.date format='Y-m-d'>{coworker.datestart}</f:format.date>" required="required">
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4 mr-2"> 
			<label for="opmerkingen" class="font-weight-bold">Opmerkingen:</label>
		</div>
		<div class="col">
			<textarea rows="2" class="form-control" id="opmerkingen" name="opmerkingen">{coworker.remarks}</textarea>
		</div>
	</div>

</DIV>
<f:render partial="Persoon/SearchPersonRole" arguments="{file: file}" />


</f:section>
</html>