<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />

<f:section name="content">
	<div class="clearfix">
		<div style="float:left"><h3>
		<f:if condition="{task.uid}">
		<f:then>Taak wijzigen
		</f:then>
		<f:else>
		Taak toevoegen
		</f:else>
		</f:if></h3>
		</div>
		<div class="btn text-align-top float-right" onClick="tx_task_editsubmit('{taskuid}', 'cancelTask');" title="Sluiten">
			<svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-x" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
	  		<path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
			</svg>
		</div>
	</div>

<DIV ID="errorBoxtask" class="bodytext errormessage"></DIV>
<DIV class="taskview">
<f:if condition="{task.uid} && {editpermission}">
	<!-- ###taskEDITBUTTONS### begin -->
	<f:then>
		<div>
			<button class="btn btn-primary mr-1" onclick="tx_task_editsubmit('{taskuid}','saveTask');" type="submit" name="" value="">Bewaren</button>
			<button class="btn btn-primary" onclick="tx_task_editsubmit('{taskuid}', 'cancelTask');" type="submit" name="" value="">Annuleren</button>
			<button class="btn btn-primary float-right" onclick="tx_task_editsubmit('{taskuid}', 'deleteTask');" type="submit" name="" value="">Verwijderen</button>
		</div>
		<div>
			<form method="post" class="mt-1" name="search" id="searchpers" action="{pagemailen}?tx_churchpersreg_persoonemail%5Baction%5D=email&amp;tx_churchpersreg_persoon%5Bcontroller%5D=Persoon">
	        <input type="hidden" name="tx_churchpersreg_persoon[ministryid]" value="{taskuid}" />
			<input type="hidden" name="tx_churchpersreg_persoon[stack]" value="{stack}"/>
			<button class="btn btn-primary mt-1 float-right" type="submit" name="" title="Medewerkers mailen" value="">Email</button>		
			</form>	
			<button class="btn btn-primary mt-1" onclick="tx_worker_editsubmit('{taskuid}', 'addWorker')" type="submit" name="" value="">Medewerker toevoegen</button>	
		</div>
	</f:then>
</f:if>
<f:if condition="{task.uid} && !{editpermission} && {eigenbediening}">
	<f:then>
		<div class="row ml-1">
			<form method="post"  name="search" id="searchpers" action="{pagemailen}?tx_churchpersreg_persoonemail%5Baction%5D=email&amp;tx_churchpersreg_persoon%5Bcontroller%5D=Persoon">
	        <input type="hidden" name="tx_churchpersreg_persoon[ministryid]" value="{taskuid}" />
			<input type="hidden" name="tx_churchpersreg_persoon[stack]" value="{stack}"/>
			<button class="btn btn-primary mt-1 float-right" type="submit" name="" title="Medewerkers mailen" value="">Email</button>		
			</form>	
		</div>
	</f:then>
</f:if>

<f:if condition="{task.uid}">
	<f:then></f:then>
<f:else>
		<div>
			<button class="btn btn-primary mr-1" onclick="tx_task_editsubmit('{parentuid}','savenewTask');" type="submit" name="" value="">Bewaren</button>
			<button class="btn btn-primary" onclick="tx_task_editsubmit('', 'cancelTask');" type="submit" name="" value="">Annuleren</button>
		</div>
</f:else>
</f:if>
<ul class="nav nav-tabs">
    <li class="nav-item active">
        <a href="#general" class="nav-link active" data-toggle="tab">Algemeen</a>
    </li>
    <li class="nav-item">
        <a href="#required" class="nav-link" data-toggle="tab">Vereist</a>
    </li>
    <li class="nav-item">
        <a href="#desired" class="nav-link" data-toggle="tab">Gewenst</a>
    </li>
    <li class="nav-item">
        <a href="#cost" class="nav-link" data-toggle="tab">Kosten</a>
    </li>
</ul>
<div class="tab-content">
    <div class="tab-pane fade show active" id="general">

		<div class="row">
			<div class="col-sm-3 mr-2"> 
				<label for="taskdescription" class="font-weight-bold">Omschrijving:</label>
			</div>
			<div class="col"><input Name="taskdescription" id="taskdescription" class="form-control" type="text"  maxlenght=255 value="{task.omschrijving}" ></div>
		</div>
		<div class="row">
			<div class="col-sm-3 mr-2"> 
				<label for="parentdep" class="font-weight-bold">Valt onder afdeling:</label>
			</div>
			<div class="col" id="parentdep">{task.soort}: {task.Parentdepartment}</div>
		</div>
		<div class="row">
			<div class="col-sm-3 mr-2"> 
				<label for="aantal" class="font-weight-bold">Aantal:</label>
			</div>
			<div class="col">
				<input name="aantal" id="aantal" value="{task.aantal}" title="Aantal medewerkers nodig" type="number" max="999" style="width:4rem;">
			</div>
		</div>
		<div class="row">
			<div class="col-sm-3 mr-2"> 
				<label for="opmerkingen" class="font-weight-bold">Opmerkingen:</label>
			</div>
			<div class="col">
				<textarea Name="opmerkingen" id="opmerkingen"  class="form-control" rows=2 >{task.opmerkingen}</textarea>
			</div>
		</div>
	</div>
	<div class="tab-pane fade show " id="required">
		<div class="row">
			<div class="col-sm-3 mr-2"> 
				<label for="passion" class="font-weight-bold">Verlangen:</label>
			</div>
			<div class="col">
				<textarea Name="passion" class="form-control" id="passion" rows=3 >{task.verlangen}</textarea>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-3 mr-2"> 
				<label for="gaven" class="font-weight-bold">Gaven:</label>
			</div>
			<div class="col">
				<select Name="gift1" id="gift1" size="1" style="max-width:30%;"><f:format.raw>{GIFTS1}</f:format.raw></select>
				<select Name="gift2" id="gift2" size="1" style="max-width:30%;"><f:format.raw>{GIFTS2}</f:format.raw></select>
				<select Name="gift3" id="gift3" size="1" style="max-width:230%;"><f:format.raw>{GIFTS3}</f:format.raw></select>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-3 mr-2"> 
				<label for="geestelijke_rijpheid" class="font-weight-bold mr-2">Geest.rijpheid:</label>
			</div>
			<div class="col form-group">
				<select Name="geestelijke_rijpheid" id="geestelijke_rijpheid"  size="1" ><f:format.raw>{GEESTRIJP}</f:format.raw></select>
				<input class="form-check-input ml-2" id="lidmaatschap" type="checkbox" name="lidmaatschap" value="is_lid" {f:if(condition:"{task.lidmaatschap}=='is lid'",then:'checked="checked"')}>
	      		<label class="form-check-label font-weight-bold ml-4" for="lidmaatschap">Moet lid zijn</label>
			</div>
		</div>
	</div>
	<div class="tab-pane fade show" id="desired">
		<div class="row">
			<div class="col-sm-3 mr-2"> 
				<label for="taak-stijl" class="font-weight-bold">Stijl:</label>
			</div>
			<div id="taak-stijl" class="col-sm">
				<div class="btn-group btn-group-toggle mb-1" data-toggle="buttons">
				  <label class={f:if(condition:"{task.energiestijl}=='Taakgericht'",then:'"btn btn-info active"',else:'"btn btn-info"')}>
					<input type="radio" name="stijlenergie" value="Taakgericht" {f:if(condition:"{task.energiestijl}=='Taakgericht'",then:'checked="checked"')}>Taakgericht
				  </label>
				  <label class={f:if(condition:"{task.energiestijl}=='Mensgericht'",then:'"btn btn-info active"',else:'"btn btn-info"')}>
					<input type="radio" name="stijlenergie" value="Mensgericht" {f:if(condition:"{task.energiestijl}=='Mensgericht'",then:'checked="checked"')}>Mensgericht
				  </label>
				</div>
				<div class="btn-group btn-group-toggle mb-1" data-toggle="buttons">
				  <label class={f:if(condition:"{task.organisatiestijl}=='Gestructureerd'",then:'"btn btn-info active"',else:'"btn btn-info"')}>
					<input type="radio" name="stijlorganisatie" value="Gestructureerd" {f:if(condition:"{task.organisatiestijl}=='Gestructureerd'",then:'checked="checked"')}">Gestructureerd
				  </label>
				  <label class={f:if(condition:"{task.organisatiestijl}=='Ongestructureerd'",then:'"btn btn-info active"',else:'"btn btn-info"')}>
					<input type="radio" name="stijlorganisatie" value="Ongestructureerd" {f:if(condition:"{task.organisatiestijl}=='Ongestructureerd'",then:'checked="checked"')}">Ongestructureerd
				  </label>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-3 mr-2"> 
				<label for="vaardigheden" class="font-weight-bold">Vaardigheden:</label>
			</div>
			<div class="col">
				<textarea Name="vaardigheden" id="vaardigheden" class="form-control" rows=2 >{task.vaardigheden}</textarea>
			</div>
		</div>
	</div>
    <div class="tab-pane fade show" id="cost">
		<div class="row">
			<div class="col-sm-4 mr-2"> 
				<label for="verplichtingen" class="font-weight-bold">Verplichtingen:</label>
			</div>
			<div class="col">
				<textarea Name="verplichtingen" id="verplichtingen"  class="form-control" rows=2 >{task.verplichtingen}</textarea>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4 mr-2"> 
				<label for="duur" class="font-weight-bold">Duur:</label>
			</div>
			<div class="col">
				<input name="duur" id="duur" value="{task.duur}" title="Verbintenis in jaren" type="number" max="6" style="width:3rem;">&nbsp;jaar
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4 mr-2"> 
				<label for="tijdsbeslag" class="font-weight-bold">Tijdsbeslag:</label>
			</div>
			<div class="col">
				<input Name="tijdsbeslag" id="tijdsbeslag"  type="text"  style="width:8rem;" value="{task.tijdsbeslag}" >&nbsp;uren/week
			</div>
		</div>
	</div>

</div>
</DIV>

</f:section>
</html>