/* organisation hierarchy*/
span.min {
	display: block;
    background-image: url("../Images/minus.gif");
	background-repeat: no-repeat;
    background-position: 0;
   	padding-left: 15px;
	float:left;
	/*cursor:pointer; */
}
span.plus {
	display: block;
    background-image: url("../Images/plus.gif");
	background-repeat: no-repeat;
    background-position: 0;
   	padding-left: 15px;
	float:left;
	/*cursor:pointer; */
}
span.eind {	list-style:none inside none;  
	display: block;
    background-image: url("../Images/transparant.gif");
	background-repeat: no-repeat;
    background-position: 0;
   	padding-left: 15px;
	float:left;
}
span.open{
	display: block;
    background-image: url("../Images/folderOpen.gif");
	background-repeat: no-repeat;
    background-position: 0px;
   	padding-left: 15px;
	cursor:pointer;
	float: left;
}
span.closed{
	display: block;
    background-image: url("../Images/folderClosed.gif");
	background-repeat: no-repeat;
    background-position: 0px;
   	padding-left: 15px;
	cursor:pointer;
	float: left;
}
span.blueopen{
	display: block;
    background-image: url("../Images/folderblueOpen.gif");
	background-repeat: no-repeat;
    background-position: 0px;
   	padding-left: 15px;
	cursor:pointer;
	float: left;
}
span.blueclosed{
	display: block;
    background-image: url("../Images/folderblueClosed.gif");
	background-repeat: no-repeat;
    background-position: 0px;
   	padding-left: 15px;
	cursor:pointer;
	float: left;
}
span.taak{
	display: block;
    background-image: url("../Images/taak.gif");
	background-repeat: no-repeat;
    background-position: 0px;
   	padding-left: 15px;
	cursor:pointer;
	float: left;
}
span.mdw{
	display: block;
    background-image: url("../Images/medewerker.gif");
	background-repeat: no-repeat;
    background-position: 0px;
   	padding-left: 15px;
	cursor:pointer;
	float: left;
}
ul.hierarch {
list-style:none inside none; 
margin:0px; 
padding:0 0 0 20px;
width:300px;
clear: both;
}
li {
	margin-top:3px;
	margin-bottom:2px;
	margin-left:0px;
	margin-right:0px;
	display:inline-block;
	clear:both;
	float:left;
}

.ministryedit {
	display:none;
	z-index: 1000;
	overflow: visible;
	position: absolute; 
	background-color: white;
	padding: 7px;
	border-style:solid;
	border-width:2px;
}
#ministryeditview{ cursor:move;}
.ministryview {
	float:left;
}
.tx-churchadmin_pi7 .ministryview  {
/*	background-color: #e0e0e0; */
	text-align: center;
	font-size: 0.8em;
	color: blue;
	vertical-align:top;
	width:40px;
}

.editministry {
	padding: 5px;
}
span.ctxtbd,.ctxttk,.ct {	 
	float:left;
	cursor:pointer;
	padding:left:2px;
}